<div class="content margin radius">
    <div class="content1 margin">
        <div class="c1_1 radius"></div>
        <div class="c1_2">
            <div class="c1_2_1">
                <div class="c1_2_1_1 radius"></div>
                <div class="c1_2_1_2 radius"></div>
            </div>
            <div class="c1_2_1">
                <div class="c1_2_2_1 radius"></div>
                <div class="c1_2_2_2 radius"></div>
            </div>
        </div>
    </div>


    <div class="content1_1">
        <div class="content2 margin">
            <div class="c2_1 ">
                <div class="c2_1_1">
                    <div class="c2_1_1_1 radius"></div>
                    <div class="c2_1_1_2 radius"></div>
                </div>
                <div class="c2_1_2 radius"></div>
            </div>
            <div class="c2_2">
                <div class="c2_2_1 radius margin"></div>
                <div class="c2_2_2 radius margin"></div>
            </div>
        </div>

        <div class="content3">
            <div class="c3_1 margin radius"></div>
            <div class="c3_2 margin radius"></div>
        </div>
    </div>
</div>